
* {
  margin: 0;
  padding: 0;
}


body{
  background-color: rgb(228, 228, 159);
  font-family: 'Acme', sans-serif;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
  position: relative;
}

h1{
  margin: 30px;
  text-shadow: 5px 0 white;
  font-size: 4rem;
  color: #f6b93b;
}

.dice {
  text-align: center;
  display: flex;
  justify-content: center;
}

p {
  font-size: 2rem;
  color: #00b894;
  text-shadow: 1px 1px white;
}

button {
  padding: 10px;
  background-color: #00b894;
  color: white;
  border: none;
  margin: 0 auto;
}
button:hover {
  background-color: #f6b93b;
  cursor: pointer;
}

.btn {
  display: flex;
}

#character {
  height: 20px;
  width: 20px;
  outline: 1px solid #000000;
  position: absolute;
  left: 0;
  top: 80px;
  background-color: #181614;

}


.roll {
  animation: roll 0.5s infinite;
}

@keyframes roll {
  0%{
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(180deg);
  }
}