
* {
  margin: 0;
  padding: 0;
}


body{
  background-color: rgb(228, 228, 159);
  font-family: 'Acme', sans-serif;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

h1{
  margin: 30px;
  text-shadow: 5px 0 white;
  font-size: 4rem;
  color: #f6b93b;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 1px 20px;
}

p {
  font-size: 2rem;
  color: #00b894;
  text-shadow: 1px 1px white;
}

button {
  padding: 10px;
  background-color: #00b894;
  color: white;
  border: none;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
}

img {
  width: 150px;
}